@import "tailwindcss";

@theme {
  --color-gloss-black: #252324;
  --color-matte-white: #FDFBF9;
  --color-mint: #ADFFC3;
  --color-mint-hover: #8effa8;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-gloss-black);
  color: var(--color-matte-white);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
